@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border: #363636;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: black;
  font-size: 1.5rem;
  color: grey;
}

header {
  padding: 1rem 4rem;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  background: #262626;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--border);
}

header h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;

  background: linear-gradient(110.42deg, #cf57a3 29.2%, #27ae60 63.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

header .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input label {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--border);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.custom-icon {
  font-size: 10px;
}
